force-app/main/default/flows/Lead_Communication_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This email will trigger on Lead Closure</description>
        <name>On_Lead_Closure</name>
        <label>On Lead Closure</label>
        <locationX>822</locationX>
        <locationY>483</locationY>
        <actionName>Lead.This_Email_Alert_will_trigger_on_Lead_Closure</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>LeadEmailTaskCreation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.This_Email_Alert_will_trigger_on_Lead_Closure</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Email will trigger when Lead is Created</description>
        <name>On_Lead_Creation</name>
        <label>On Lead Creation</label>
        <locationX>283</locationX>
        <locationY>494</locationY>
        <actionName>Lead.This_Email_Alert_will_trigger_on_Lead_Creation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.This_Email_Alert_will_trigger_on_Lead_Creation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>This_is_default_email</name>
        <label>This is default email</label>
        <locationX>551</locationX>
        <locationY>595</locationY>
        <actionName>Lead.This_Email_Alert_will_trigger_on_Lead_Closure</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.This_Email_Alert_will_trigger_on_Lead_Closure</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>To_check_Creation_and_Closure_Lead</name>
        <label>To check Creation and Closure Lead</label>
        <locationX>532</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>This_is_default_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Lead_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isNew__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Lead_Creation</targetReference>
            </connector>
            <label>Is Lead Created</label>
        </rules>
        <rules>
            <name>Is_Lead_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isNew__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Lead_Closure</targetReference>
            </connector>
            <label>Is Lead Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Communication Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Communication Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>LeadEmailTaskCreation</name>
        <label>LeadEmailTaskCreation</label>
        <locationX>828</locationX>
        <locationY>693</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Email__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>To_check_Creation_and_Closure_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
