force-app/main/default/flows/Offertoleadconversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>This decision is used to check offer status</description>
        <name>To_Check_offer_Active</name>
        <label>To Check offer Active</label>
        <locationX>551</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Offer_Cannot_Convert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>to_check_offer_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>offer_Record.Offer_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>offer_to_lead_creation</targetReference>
            </connector>
            <label>to check offer status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Offertoleadconversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offertoleadconversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>offer_to_lead_creation</name>
        <label>offer to lead creation</label>
        <locationX>336</locationX>
        <locationY>536</locationY>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>offer_Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>offer_Record.Office_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>IDFC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Category__c</field>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Eligibility_for_verif_waiver_or_not__c</field>
            <value>
                <elementReference>offer_Record.Eligibility_for_verif_waiver_or_not__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>offer_Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>offer_Record.CustomerID__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <stringValue>Yadav</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <stringValue>Internet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Sub_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_ID__c</field>
            <value>
                <elementReference>offer_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>offer_Record.Office_PIN_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>offer_Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>offer_Record.CustomerID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment_Type__c</field>
            <value>
                <elementReference>offer_Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>offer_Record.Office_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isNew__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This will fetch all records</description>
        <name>offer_Record</name>
        <label>offer Record</label>
        <locationX>537</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Check_offer_Active</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Offer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Offer_Cannot_Convert</name>
        <label>Offer Cannot Convert</label>
        <locationX>859</locationX>
        <locationY>504</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Text</name>
            <fieldText>&lt;p&gt;Offer Cannot Convert because Offer is Not Active&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>62</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>offer_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
